<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optrak.experiment"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <application
        android:allowBackup="true"
        android:label="ATaskManager"
        android:icon="@drawable/android:star_big_on"
        android:theme="@android:style/Theme.Holo.Light">

        <activity
          android:label="A Task Manager"
          android:name=".InitialAA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
       <activity android:name=".LogonAA"></activity>
       <activity android:name=".MoodAA"></activity>
       <activity android:name=".TaskListAA"></activity>
    </application>
</manifest>
